<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Login Parts -->
        <div id="regLoginDisplay">
            <div class="regLoginContainer">
                <!-- Register Page -->
                <div id="registerPage" style="display: none;">
                    <h2>Register</h2>
                    <div class="formStyles">
                        <label for="registerUser">Username</label>
                        <input type="text" id="registerUser">
                    </div>
                    <div class="formStyles">
                        <label for="registerPW">Password</label>
                        <input type="password" id="registerPW">
                    </div>
                    <button class="button buttonMain" onclick="register()">Make Account</button>
                    <div id="registerError" class="errorMessage"></div>
                    <p class="toggleForm">
                        Already have an account? <a href="#" onclick="toggleForm('login')">Login</a>
                    </p>
                </div>
                <!-- Login Page -->
                <div id="loginPage">
                    <h2>Login</h2>
                    <div class="formStyles">
                        <label for="loginUser">Username</label>
                        <input type="text" id="loginUser">
                    </div>
                    <div class="formStyles">
                        <label for="loginPW">Password</label>
                        <input type="password" id="loginPW">
                    </div>
                    <button class="button buttonMain" onclick="login()">Login</button>
                    <div id="loginError" class="errorMessage"></div>
                    <p class="toggleForm">
                        Make an account: <a href="#" onclick="toggleForm('register')">Register</a>
                    </p>
                </div>
                
            </div>
        </div>
        <!-- Chatroom Page -->
        <div id="chatroomsDisplay">
            <div class="header">
                <h1>Chatroom Project</h1>
                <div class="actionButton">
                    <div class="formStyles">
                        <button class="button buttonCreate" onclick="createChatroom()">Create</button>
                        <input type="text" id="chatroomName" placeholder="Enter chatroom name">
                    </div>
                    <div class="formStyles">
                        <button class="button buttonJoin" onclick="joinChatroom()">Join</button>
                        <input type="text" id="chatroomID" placeholder="Enter chatroom ID">
                    </div>
                    <button class="button buttonDelete" onclick="logout()">Log out</button>
                </div>
            </div>
            <div class="tabs" id="chatroomTabs"></div>
            <div class="tabContent" id="tabContent"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/API.js') }}"></script>
</body>
</html>